
body{
	background-color: #E2E2E2;
	color: #595959;
	height: 100%;
	font-family:'Quicksand', sans-serif;
	font-size: 16px;
	/*min-width: 650px;*/

}



.mode-screen-off {
	display: none;
	/*visibility: hidden;*/
	/*transition: visibility 1.75s, opacity 1.75s linear;*/
}

.mode-screen-on {
	visibility: visible;
	display: block;
	position: absolute;
	z-index: 100;
	text-align: center;
	background-color: #222;
	width: 100%;
	height: 500vh;
	top:0;
    bottom:0;
}

.mode-screen-on h6 {
	padding-top: 10vh;
	color: #aaa;
	font-size: 2em;
	padding-bottom: .2em;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	line-height: 1.2em;

}

.warning {
	
	font-size: .9em;
	
	color: #FF0505;
	line-height: 1.5em;
}

#dialogue-box{
	-webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;	
}

.dialogue-box {
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	/*height: 50vh;*/
	height:  65vh;
	margin-top: 3em;
	border: 3px solid #017401;
	color: #387805;
	border-radius: 5px;
	text-align: left;
}


.game-window-off{
	display: none;
}

.game-window-on{
	display: block;
}



@media only screen and (max-width: 970px){
	.dialogue-box{
		width: 50%;
	}
}

@media only screen and (max-width: 650px){
	.dialogue-box{
		width: 70%;
	}
}

@media only screen and (max-width: 400px){
	.dialogue-box{
		width: 90%;
	}
}


.game-box{
	width: 70%;
	height: 70vh;
}

#tv{
	width: 100%;
	height: 100%;
}

.tv-off{
	display: none;
}

.tv-on {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}




#question-screen-container{
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#question-screen{
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


.question-screen-container{
	border: 2px solid green;
    color: green;
    border-radius: 5px;
    padding: .5em 2em .5em 2em;
    margin: .25em;
    height: 72%;
    width: auto;
}




.question-screen {
	padding: 1em;
	color: green;
}




.game-time{
	padding: 0px;
	height: 89%;
}


#switch-table{
    display: inline-flex;
    text-align: center;
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
    font-weight: 250;
    line-height: 1.2em;
    border-radius: 2px;
    padding: .1em;
    margin-top: .6em;
    margin-bottom: .3em;
    border-collapse: collapse;
    -webkit-transition: all 0.7s ease-out;
       -moz-transition: all 0.7s ease-out;
        -ms-transition: all 0.7s ease-out;
         -o-transition: all 0.7s ease-out;
            transition: all 0.7s ease-out;    
}


#ludicrous{
	padding: .25em;
	display: none;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 2px;
}

#boring{
	padding: .25em;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}



.mode-highlight{
	background-color: #595959;
	color: #222;
}

.mode-no-hightlight{
	background-color: #222;
	color: #595959;
	border: 1px solid;

}

.answer-console-container{
	display: flex;
	justify-content: center;
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0;
}

.answer-console{
	width: 90%;
	text-align: center;
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: space-around;

	padding-bottom: 1.1em;
}

.yes-box, .wuss-box {
	border: 2px solid #017401;
	color: #03BD03;
	border-radius: 5px;
	padding: .5em 2em .5em 2em;
	cursor: pointer;
}

#code-box {
	display: none;

}

.code-box-reveal {
	display: inline-flex !important;
	margin: 0;
	text-align: center;
}

#code-input{
	background-color: #017401;
    border: 2px solid darkgreen;
    height: 65%;
    color: #03BD03;
    margin-left: .5em;
}

input:focus {outline:none;}

.wuss-box {
	color: #FF0505;
}

.evil-face-container{
	display: none;
}

.evil-face-container-on {
	text-align: center;
	margin: auto 0;
	display: grid;
}

.face-line {
	display: none;
	text-align: center;
	margin: auto;
}

.face-piece{
	display: block;
	height: 1px;
	width: 1px;
	background-color: green;
	border: 1px solid darkgreen;
}

.reveal{
	display: inline-flex;
}

.jaw{
	position: relative;
	/*top: 0px;*/
}



.neg-face-space{
	opacity: 0;
	border: none;
    border: 1px solid rgba(255, 0, 0, 0);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */	
}

.jaw-laugh-up{
	top: -2px;
	/*-webkit-transition: top 200ms; /* Safari */
  	/*transition: top 200ms*/
}

.jaw-laugh-down{
	top: 3px;
}

/*.wuss-box:hover {
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: : 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}
*/


/**************Baketel's Maze**********/

#viewport{
	width: 100%;
	height: 100%;
}

#viewport canvas {
	width: 100%;
	height: 100%;
}

#bmaze{
	width:100%;
	height: auto;
}


#action-btn{
	display:block;
	position: absolute;
}



			#message{
				position:absolute;
				left: 50%;
				top: 50%;
				transform: translateX(-50%) translateY(-50%);
				font-family: 'Kavivanar', san-serif;
				font-size: 40px;
				width:80%;
				max-width:280px;
				padding: 15px 15px 50px 15px;
				text-align: center;
				display:none;
				align-content: center;
				justify-content: center;
				background-color: aliceblue;
				border: medium solid #3D455C;
				border-radius: 20px;
				color: #3D455C;
				z-index: 99;
			}
			#message_ok{
				position: absolute;
				bottom: 10px;
				padding: 10px 20px 10px 20px;
				font-family: sans-serif;
				font-size: 20px;
				background-color: #3D455C;
				color: #fff;
				border-radius: 8px;
				border: medium solid #696882;
			}
			
            #sfx-btn{
				position: absolute;
				right: 15px;
				top: 15px;
				width: 40px;
				height: 40px;
				border: none;
				border-radius: 50%;
				background:#3B53A2;
				font-size: 25px;
				color: #fff;
			}
            
			#camera-btn{
				position: absolute;
				right: 15px;
				bottom: 15px;
				width: 40px;
				height: 40px;
				border: none;
				border-radius: 50%;
				background:#3B53A2;
				font-size: 25px;
				color: #fff;
			}
			
			#action-btn{
				position: absolute;
				left: 50%;
				bottom: 5px;
				width: 40px;
				height: 40px;
				border: none;
				border-radius: 50%;
				background:#017401;
				font-size: 25px;
				color: #fff;
				transform: translateX(-50%);
                z-index: 9;
			}
			
			#overlay{
				position:absolute;
				width: 100%;
				height: 100%;
				background: #000000;
				z-index: 10;
				opacity: 1;
			}
            
			.fade-in {
				animation-name: fade-in;
				animation-duration: 2s;
			}

			@keyframes fade-in {
				from {opacity: 1;}
				to {opacity: 0;}
			}
            
            #briefcase-btn{
				position: absolute;
				left: 15px;
				bottom: 15px;
				width: 40px;
				height: 40px;
				border: none;
				border-radius: 50%;
				background:#3B53A2;
				font-size: 25px;
				color: #fff;
			}
            
            #briefcase{
                position: absolute;
                left: 20px;
                bottom: 60px;
                width: auto;
                opacity: 0;
                padding: 8px;
                border-radius: 8px;
                background:#3B53A2;
                transition: opacity 0.5s;
            }
            
            #briefcase ul{
             list-style: none;
             padding: 0;
             margin: 0;
             }

              #briefcase li{
               float: left;
              }

              #briefcase li a{
                padding: 0 3px 0 3px;
              }

              #briefcase img{
                width: 100px;
                height: 75px;
              }

/***********End of Baketel's Maze*******/



/***********Toggle Switch***********/

.toggle-container{
	display: block;
	position: absolute;
	margin: 0 auto;
}

.toggle-container-off{
	display: block;
	position: absolute;
	margin: 0 auto;
	visibility: hidden;
	transition: visibility 0.5s, opacity 0.5s linear;

}


.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/***************Maze****************/

.viewport{
	width: 100%; 
	height: 100%;
}




/**********END Toggle Switch*******/

p {
	color: #707070;
}

.side-container {
	text-align: center;
}

.main-container{
	width: 70%;
	margin: 0 auto;
}

@media only screen and (max-width: 1250px){
	.main-container{
		width: 80%;
	}
}

@media only screen and (max-width: 1000px){
	.main-container{
		width: 95%;
	}
}

header {
	text-align: center;
	padding: 3em 3em;
}

header h6{
	padding-bottom: 1.5em;
	font-family: 'Julius Sans One', sans-serif;
	/*font-family: 'Poiret One', cursive;*/
}

header h3 {
	font-size: 2.25em;
	font-family: 'Thasadith', sans-serif;
}

.info-header{
	cursor: pointer;
	padding-bottom: 0px;
	background-color: rgb(212, 212, 212);
	width: 16%;
	margin: auto;
	padding: 5px;
	border-radius: 5px;
	margin-top: 1.5em;	
	color: rgb(172, 172, 172);	
}


.contact-info{
	display: none;
	font-family: 'Julius Sans One', sans-serif;
	background-color: #595959;
	color:#E2E2E2;
	padding-top: 2em;
	padding-bottom: 2em;
	display: block;
	margin: auto;
	margin-top: 2em;
	border-radius: 10px;
	text-align: center;
	line-height: 1.5em;
}

.external-link {
	text-decoration: none;
	color: darkgrey;
}

.resume-section{
	padding-left: 3em;
	padding-right: 3em;
}

.section-header {
	border-bottom: 2px solid darkgrey;
	padding-bottom: .75em;
	padding-top: 3em;
	padding-left: 3em;
	padding-right: 3em;
	margin-bottom: 2.5em;
}

.section{
	display: flex;
	justify-content: space-between;
	padding-bottom: 3em;
}

.projects-header {
	font-family: 'Jura', sans-serif;
}



.info-section {
	width: 45%;
}

.project-section-title {
	padding-bottom: .25em;
	font-family: 'Chakra Petch', sans-serif;
	text-decoration: none;
	color: #595959;
}

.project-section-title h1 {
	font-size: 1.35em;
}

.project-section-info {

}

.work-experience-header {
	font-family: 'Nixie One', cursive;
}

.experience-disclaimer {
	text-align: center;
	margin: 0 auto;

}

.work-section {

}

.work-section-title {
	font-size: 1.15em;
}

.cascade {
	font-family: 'Federo', sans-serif;
	text-decoration: none;
	color: #595959;
	font-size: 1.2em;	
}

.aidynamics{
	font-family:  Diwan Kufi;
	text-decoration: none;
	color: #595959;
	font-size: 1.2em;		
}

.fs-title{
	text-decoration: none;
	color: #595959;
	font-family: 'fs-iconfont';
}

.work-section-title h2 {
	font-size: .7em;
	padding-top: .3em;
	color: darkgrey;
}

.work-section-info {
	font-family: 'Cormorant Infant', serif;
	font-size: 1.1em;
}

.lw-title{
	text-decoration: none;
	color: #595959;
	font-family: 'IM Fell English SC', serif;
	font-size: 1.2em;
}

.lw{
	font-style: italic;
	font-family: 'Josefin Slab', serif;
	font-size: .8em;

}

.bdm{
	text-decoration: none;
	color: #595959;
	font-family: 'Poiret One', cursive;
	letter-spacing: .1em;
	font-size: 1.2em;
}

.acorn {
	text-decoration: none;
	color: #595959;
	font-family: "Merriweather",serif;
	font-size: 1.2em;
}

.publication-header{
	font-family: 'Marcellus SC', serif;
}

.publication-title{
	text-decoration: none;
	color:#595959;
}

.publication-section-title {
	display: grid;
	font-family: 'Antic Slab', serif;
	font-size: 1.35em;
}


.publication-link{
	text-decoration: none;
	color: darkgrey;
	font-size: .75em;
}

.publication-section-info {
	font-family: 'Bentham', serif;
}

.how-much{
	font-family: 'Bentham', serif;	
}

.education-section-title {
	font-family: 'Cormorant SC', serif;
	font-size: 1.3em;
}

.education-link {
	text-decoration: none;
	color: darkgrey;
	font-size: .75em;
}

.education-section-info {
	font-family: 'Cormorant Garamond', serif;
}

.miscellaneous-section-header{
	text-decoration: none;
	color: #595959;
}

.vid{
	text-decoration: none;
	color: darkgrey;
	font-size: .8em;
}

.lupus {
	text-decoration: none;
	color: #595959;

}

.jarfloat-link{
	text-decoration: none;
	color:  inherit;
}


.one-liner{
	font-style: italic;
	text-align: center;
	width: 100%;
	font-family: Gurmukhi MT;
	font-size: .8em;
}

@media only screen and (max-width: 700px){
	body{
		font-size: 12px;
	}

	.project-section-title{
		width:  35%;
		padding-right:  5%;
	}

	.info-section{
		width:  60%;
	}

	.work-section-title{
		width:  35%;
		padding-right:  5%;
	}

	.education-section-title{
		width:  35%;
		padding-right:  5%;
	}

	.miscellaneous-section-title{
		width:  35%;
		padding-right:  5%;
	}

	.publication-section-title{
		width:  35%;
		padding-right:  5%;
	}
}

@media only screen and (max-width: 450px){
	.project-section-title a{
		font-size:  .7em;
	}
}
